@media (min-width: 992px){
    .list-element-right{
        margin-left: auto;
    }

    .dropdown-menu.dropdown-menu-right{
        right: 0;
        left: auto;
    }
}

button.btn.custom-btn{
    border-radius: 3em;
    box-shadow: 0 0 0 0.25rem rgb(0, 0, 0);
}

button.btn.custom-btn:focus{

    outline: 2px solid white;
}