@media (min-width: 992px){

    .dropdown.list-element-right{
        margin-left: auto;
        margin-right: 1rem;
    }

    .dropdown-menu.dropdown-menu-right{
        right: 0;
        left: auto;
    }

    button.btn.custom-btn{
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .login-search{
        display: flex;
        width: 150px;
    }

    .login-search button{
        margin-left: 1rem;

        margin-right: 1.5rem;
    }
}


.list-element-right{
    margin: auto;
}

button.btn.custom-btn{
    line-height: 1rem;

    border-radius: 3em;

    box-shadow: 0 0 0 0.25rem rgb(0, 0, 0);
}

button.btn.custom-btn:active:focus{

    box-shadow: 0 0 0 0.25rem rgb(0, 0, 0);
    outline: 2px solid white;
}

.dropdown-item.ps-icon-dropdown{
    max-width: 100px;
    min-width: 0;
}