
:root{
    --header-height: 94px;
}



.list-element-right{
    margin: auto;
}

.fs-7{
    font-size: .9rem;
}

/* .max-mobile{
    max-width: calc(100% - var(--bs-gutter-x));
} */





button.btn.custom-btn{
    margin: 0 auto;

    margin-top: 1rem;
    margin-bottom: 1rem;
    
    line-height: 1rem;

    border: 0;
    border-radius: 3em;
}

button.btn.custom-btn.black{
    box-shadow: 0 0 0 0.25rem rgb(0, 0, 0);
}

button.btn.custom-btn.red{
    box-shadow: 0 0 0 0.25rem rgba(var(--bs-danger-rgb),var(--bs-bg-opacity));
}

button.btn.custom-btn.black:active:focus{

    box-shadow: 0 0 0 0.25rem rgb(0, 0, 0);
    outline: 2px solid white;
}

button.btn.custom-btn.red:active:focus{

    box-shadow: 0 0 0 0.25rem rgba(var(--bs-danger-rgb),var(--bs-bg-opacity));
    outline: 2px solid white;
}




/* .dropdown-menu{
    margin: 0; 
} */

.dropdown-item.ps-icon-dropdown{
    width: 150px;
}

header{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
}








.jumbotron{
    background-image: url(../img/jumbo-bg.png);
    background-position: top;
    background-size: cover;

    margin-top: var(--header-height);
}

.jumbotron .row{
    height: calc(100vh - var(--header-height));
}





.nested-menu-list{
    text-decoration: none;

    color: black;
}
.nested-menu-list::before{
    content: "\1F535";
    font-size: .3rem;

    line-height: 1rem;
    vertical-align: middle;

    margin-right: .3rem;
}





@media (min-width: 992px){

    .navbar{
        position: static;
    }

    .dropdown{
        position: static;
    }
    .dropdown-menu {
        top: auto !important;
        width: 100vw;

        border-radius: 0;
    }

    .dropdown.list-element-right{
        margin-left: auto;
        margin-right: 1rem;
    }



    button.btn.custom-btn{
        margin: 0 1rem;
    }

    .login-search{
        display: flex;
        width: 150px;
    }

    .login-search button{
        margin-left: 1rem;

        margin-right: 1.5rem;
    }
}